<?php

/*
 * This array contains a list of ENVIRONMENT variables that get injected into $_ENV. To use this file rename it to
 * env.config.php in this same directory. If you have secure information such as usernames and passwords you should
 * put them here.
 */
return [
    'debug' => false
];
